# Python
**/__pycache__/
**/*.pyc
*.egg-info
/.pytest_cache/
/.eggs/
/build/
/dist/

# Build artifacts
/urlquote/_native__ffi.py
/urlquote/_native__lib.so
/urlquote/_native__lib.cp37-win_amd64.pyd
/urlquote/_native.py

# Rust Build artefact
/target/